body {
    background-color: #D9D9D9;
    font-family: Georgia, serif;
    font-size: 16px;
    margin: 50px;
  background-image: url(https://images.pexels.com/photos/1840/photography-vintage-analog-camera-canon.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) ;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    color: black;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    background-color: #F2B138;
    color: black;
    
    
}

blockquote {
    background-color: #A1A5A6;
    padding: 20px 10px;
    text-align: center;
    color: black;
}

blockquote cite {
    text-transform: uppercase;
}

footer {
    background-color: #F2B138;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: smaller;
}


a:link {

    text-decoration: none;
}

a:visited {
    color: red;
}

#author {
    text-transform: uppercase;
    font-weight: bold;
}